<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script>
        let str = '<p>画画花</p><iframe class="ql-video" frameborder="0" allowfullscreen="true" src="https://v.qq.com/x/cover/enj7gj9pcksq89p/g0761hr9ih3.html"></iframe><p><br></p>'
        let newStr = str.substring(str.indexOf("<iframe"), str.indexOf("</iframe>") + 9)
        console.log(str.slice("<p>"));
        console.log(str.replace(newStr, ''));

        console.log()
        console.log(str.indexOf("<iframe"))
        console.log(str.lastIndexOf("</iframe>"))
        console.log(newStr);

    </script>
</body>

</html>